#backgroud {
    background: rgba(51, 161, 121, 0.5);
    color: #e5e5e5;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

#window.empty {
    background: rgba(12, 12, 12, 0.0);
}